html, body {
    display: block;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Niramit', sans-serif;
    background-color: antiquewhite;
}

section {
    text-align: center;
    margin: 20px;
    padding: 20px;
}

section#tooltip p {
    margin: 20px;
}

.tooltip {
    position: relative;
    color: #00b4ab;
}

.tooltip .tooltip-text {
    line-height: 1.2em;
    visibility: hidden;
    max-width: 500px;
    min-width: 300px;
    background-color: #00b4ab;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 0;
    margin-left: -140px;
    opacity: 0;
    transition: .3s;
    transform: translate3d(0px, 20px, 0px);
}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #00b4ab transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

#directiontext {
    font-style: italic;
}